.auth-layout {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: var(--space-xl);

  background:
    linear-gradient(
      135deg,
      var(--background-primary),
      var(--background-secondary)
    );

}